# Fire up GraphLab Create

We always start with this line before using any part of GraphLab Create

In [1]:
import graphlab

# Load a tabular data set

In [2]:
properties = graphlab.SFrame('properties_2016.csv')
p_with_error = graphlab.SFrame('train_2016.csv')

This non-commercial license of GraphLab Create for academic use is assigned to harleyyesm@gmail.com and will expire on May 30, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\harleyjj\AppData\Local\Temp\graphlab_server_1496501468.log.0

Finished parsing file C:\Users\harleyjj\Documents\Coursera\MLSpecialization\Course_1\properties_2016.csv

Parsing completed. Parsed 100 lines in 2.43018 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,str,str,float,float,long,long,float,str,str,float,long,str,long,str,str,long,str,long,str,str,str,long,long,long,float,str,str,str,str,str,str,long,str,float,long,long,long,long,float,str,str,str,long,str,str,float,long,str,float,float,long,float,float,str,long,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 240586 lines. Lines per second: 28508.6

Read 481125 lines. Lines per second: 33900.2

Read 721712 lines. Lines per second: 30592.9

Read 962236 lines. Lines per second: 33314.4

Read 1202886 lines. Lines per second: 35304.5

Read 1684076 lines. Lines per second: 38210.8

Read 1924622 lines. Lines per second: 38523.7

Read 2165162 lines. Lines per second: 38627.3

Read 2405739 lines. Lines per second: 38584.5

Read 2646385 lines. Lines per second: 38563.3

Read 2886991 lines. Lines per second: 39056.3

Finished parsing file C:\Users\harleyjj\Documents\Coursera\MLSpecialization\Course_1\properties_2016.csv

Parsing completed. Parsed 2985217 lines in 74.6511 secs.

Finished parsing file C:\Users\harleyjj\Documents\Coursera\MLSpecialization\Course_1\train_2016.csv

Parsing completed. Parsed 100 lines in 0.265496 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,float,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\harleyjj\Documents\Coursera\MLSpecialization\Course_1\train_2016.csv

Parsing completed. Parsed 90811 lines in 0.171886 secs.

#SFrame basics

In [15]:
p_with_error #we can view first few lines of table

Columns:
	parcelid	int
	logerror	float
	transactiondate	str

Rows: 90811

Data:
+----------+----------+-----------------+
| parcelid | logerror | transactiondate |
+----------+----------+-----------------+
| 11016594 |  0.0276  |    2016-01-01   |
| 14366692 | -0.1684  |    2016-01-01   |
| 12098116 |  -0.004  |    2016-01-01   |
| 12643413 |  0.0218  |    2016-01-02   |
| 14432541 |  -0.005  |    2016-01-02   |
| 11509835 | -0.2705  |    2016-01-02   |
| 12286022 |  0.044   |    2016-01-02   |
| 17177301 |  0.1638  |    2016-01-02   |
| 14739064 |  -0.003  |    2016-01-02   |
| 14677559 |  0.0843  |    2016-01-03   |
+----------+----------+-----------------+
[90811 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [3]:
features_plus_error = properties.join(p_with_error, on='parcelid',how='inner')

#GraphLab Canvas

In [4]:
# .show() visualizes any data structure in GraphLab Create
del properties
del p_with_error

In [5]:
features_plus_error = features_plus_error.fillna('airconditioningtypeid',0)

In [8]:
features_plus_error['airconditioningtypeid'] = features_plus_error.apply(lambda x: str(x['airconditioningtypeid']))

In [11]:
def clean(a):
    if a == '':
        return '0'
    return a

features_plus_error['architecturalstyletypeid'] = features_plus_error.apply(lambda x: clean(x['architecturalstyletypeid']))

In [12]:
features_plus_error.show()

Canvas is accessible via web browser at the URL: http://localhost:64173/index.html
Opening Canvas in default web browser.

In [13]:
submission = graphlab.SFrame('sample_submission.csv')

Finished parsing file C:\Users\harleyjj\Documents\Coursera\MLSpecialization\Course_1\sample_submission.csv

Parsing completed. Parsed 100 lines in 3.91846 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,long,long,long,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 2496598 lines. Lines per second: 566271

Finished parsing file C:\Users\harleyjj\Documents\Coursera\MLSpecialization\Course_1\sample_submission.csv

Parsing completed. Parsed 2985217 lines in 4.61206 secs.

#Inspect columns of dataset

In [14]:
submission

Columns:
	ParcelId	int
	201610	int
	201611	int
	201612	int
	201710	int
	201711	int
	201712	int

Rows: 2985217

Data:
+----------+--------+--------+--------+--------+--------+--------+
| ParcelId | 201610 | 201611 | 201612 | 201710 | 201711 | 201712 |
+----------+--------+--------+--------+--------+--------+--------+
| 10754147 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10759547 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10843547 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10859147 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10879947 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10898347 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10933547 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10940747 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10954547 |   0    |   0    |   0    |   0    |   0    |   0    |
| 10976347 |   0    |   0    |   0    |   0    |   0    |   0    |
+----------+--------+--------+--------+--------+--------+--------+
[2985217 rows x 7 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [13]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

Some simple columnar operations

In [14]:
sf['age'].mean()

23.142857142857146

In [15]:
sf['age'].max()

25

#Create new columns in our SFrame

In [16]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [18]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [19]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [21]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

#Use the apply function to do a advance transformation of our data

In [22]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [23]:
sf['Country'].show()

In [24]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [25]:
transform_country('Brazil')

'Brazil'

In [26]:
transform_country('Brasil')

'Brasil'

In [27]:
transform_country('USA')

'United States'

In [28]:
sf['Country'].apply(transform_country)

PROGRESS: Using default 16 lambda workers.
PROGRESS: To maximize the degree of parallelism, add the following code to the beginning of the program:
PROGRESS: "graphlab.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS', 32)"
PROGRESS: Note that increasing the degree of parallelism also increases the memory footprint.

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [29]:
sf['Country'] = sf['Country'].apply(transform_country)

In [30]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]